/*Fix Box sizing for entire webpage*/
* {
  box-sizing: border-box;
}

/*formating for header/footer*/

header, footer {
  background: #283618;
  height: 120px;
}

header h1, footer h1 {
  color: #dda15e;
  font-family: 'texturina', serif;
  font-weight: 700;
  text-align: center;
  margin: auto;
  font-size: 40pt;
}

header h2, footer h2, nav {
  color: #dda15e;
  font-family: 'overpass', sans-serif;
  font-weight: 100;
  text-align: center;
  margin: auto;
  font-size: 12pt;
}

nav {
  margin-top: 10px;
  font-size: 11pt;
}

footer {
  padding: 30px;
}

/*formatting for body/main*/
body {
  background-color: #dda15e;
}

main p, main h3 {
  color: #283618;
}

main p, ul {
  font-family: 'overpass', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 11.5pt;
}

main h3 {
  font-family: 'texturina', serif;
  font-weight: 300;
  text-align: left;
  font-size: 20pt;
  text-align: center;
}

hr {
  width: 480px;
  height: 2px;
  background: #283618;
  border: none;
}

.intro, .about, .contact {
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.intro p, .about p {
  text-indent: 15px;
}
/* edited out
.about, .contact {
  width:400px;
  margin:auto;
}*/

section {
  padding: 5px 15px;
}

.contact p {
  text-align: center;
}
/*formatting images*/

.pic > img {
  border: 1px solid #283618;
  border-radius: 8px 0px 0px 8px;
  width: 250px;
  height: 350px;
}

.contact img {
  width: 35px;
  margin: 10px 15px;
}

/*formatting for links*/
a {
  text-decoration: none;
  padding: 5px;
  margin: 10px 15px;
}

a:link {
  color: #dda15e;
}

.contact a {
  color: #dda15e;
  background: #283618;
  border: 1px solid #283618;
  border-radius: 8px;
  margin: 10px 14px;
}

a:visited, a:active {
  color: #dda15e;
}

a:hover {
  color: #283618;
  background: #fefae0;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px 14px;
}


